* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 220px;
    font-family: "Dubai Medium", sans-serif;
    letter-spacing: 0.2em;
    color: #7D79F9;
    position: absolute;
    text-align: center;
}

#box {
    width: 600px;
    height: 600px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);

}

h2 {
    font-size: 110px;
    font-family: "Dubai Medium", sans-serif;
    letter-spacing: -0.15em;
    color: #F9DB79;
    display: block;
    margin-left: 4%;
    align-self: flex-start;
}

h4 {
    font-size: 25px;
    font-family: "Dubai Medium", sans-serif;
    color: #F9DB79;
    display: block;
    margin-top: -4em;
    margin-left: 4%;
    align-self: flex-start;
}

#header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9DB79;
}

#featured {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #7D79F9;
}

#search {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: #F979A0;
}

#search form {
    width: 100%;
}

#search form.new-search input {
    border-radius: 100px;
    background-color: #7D79F9;
    padding: 10px;
    width: 20em;
    align-self: flex-start;
    margin-left: 4%;
    color: white;
    font-family: Dubai, sans-serif;
    font-size: 16px;
    border: none;
    -webkit-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    transition: 0.5s;
}

i {
    position: relative;
    left: -37px;
    color: white;
}

#search form.new-search input::placeholder {
    color: white;
    font-family: Dubai, sans-serif;
    font-size: 20px;
}

#search form.new-search input:focus {
    outline: 0;
    border: 1px solid white;
    transition: 0.5s;
}

.gifContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
}

.gif {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

img {
    -webkit-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.75);
}

